@import './scss/reset.scss';
@import './scss/variables.scss';
@import './scss/rem-calc.scss';


html{
    //font imported
    font-family: 'Roboto', sans-serif;
    //main background
    background-color: var(--primary-color);
}

main{
    //max width of container -> 600px
    max-width: rem-calc(600);
    //centralize
    margin: 0 auto;
    //border-box to put content inside
    box-sizing: border-box;
}